//SASS IMPORT

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


$auto-bg: #f7f7f7;
$texto: #1c1c1c;
$rojo: #f00;

// MASTER THEME

$master-colors: (
    "texto": $texto,
    "fondo": $auto-bg,
    "rojo": $rojo,
);

$theme-colors:map-merge($master-colors, $theme-colors );


// Importar customisaciones

@import "../node_modules/bootstrap/scss/bootstrap";